div#chat {
    overflow: auto;
    height: 400px;
    border: 1px solid #CCCCCC;
}

label {
    font-weight: bold;
    display: inline;
}

.message {
    font-weight: bold;
}

.username {
    color: #0000DD;
}

.fill {
    width: 100%;
}